.details {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.details {
  width: 40%;
  margin: 0 auto;
  list-style: none;
}

li {
  border: 1px solid rgb(88, 1, 88);
  padding: 7px;
  margin-bottom: 10px;
}
